<%= render template: "shared/header" %>

<h1>Storagelink#<%= @storagelink.links.first.id %></h1>
<% @local_resource = @storagelink.links.first %>
<%= render template: "shared/resource_table" %>

<br/>
<a href="<%= @storagelink.links.first.source %>">&laquo; Back</a>

<%= render template: "shared/footer" %>